DATABASE_URL="file:./prisma/dev.db"

GOALS_SOURCE=prisma

# KEYS by service
# GOALS_SOURCE=mock|prisma|vendor
# USERS_SOURCE=mock|prisma|vendor

# Default repository source if none is specified
#REPOSITORY_SOURCE=mock|prisma|vendor
REPOSITORY_SOURCE=prisma

#VENDOR_API_URL=
#VENDOR_API_TOKEN=

#OKTA_CLIENT_ID
#OKTA_CLIENT_SECRET
#OKTA_ISSUER


# producción
NEXT_PUBLIC_AUTH_ENABLED=true

# desarrollo
NEXT_PUBLIC_AUTH_ENABLED=false

# Next Auth Credentials
NEXTAUTH_URL=http://localhost:3000 <-- Dev
NEXTAUTH_SECRET=SghJZJfmY3e6uCv5SWSWDN/j3Kp5ca3zOQmANYjxoEk= <-- node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
