@import './styles/theme.css';
@import 'tailwindcss';

:root[data-theme='light'] {
  --background: #ffffff;
  --foreground: #171717;
}

:root[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
