@import './styles/theme.css';
@import 'tailwindcss';

:root[data-theme='light'] {
  --background: #ffffff;
  --foreground: #171717;
}

:root[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@utility transition-hover {
  transition-property: opacity, background-color, color, transform;
  transition-timing-function: ease-out;
  transition-duration: 150ms;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Hide scrollbar but maintain scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
